@*@model pm_retal.ViewModels.ProfileSkillsViewModel
    @model pm_retal.Models.Projects*@
@model IEnumerable<pm_retal.Models.Projects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div role="main">
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add new project</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("Addproject", "Projects", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Project Name <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="post_Name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    project description <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="post_Description" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                @if (!Session["UserType_Id"].Equals("3"))
                                {
                                    <button type="submit" class="btn btn-success" disabled>Submit Customers only</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-success">Submit</button>
                                }
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="x_panel">
                <div class="x_title">
                    <h2>New avalible project</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="5">#</th>
                                <th width="20">Customer name</th>
                                <th width="20">Project Name</th>
                                <th width="35">Project descrption</th>
                                <th width="20">Requst job</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>

                                    <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
                                    <td>@Html.DisplayFor(modelItem => item.CAccount.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.post_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.post_Description)</td>
                                    @if (!Session["UserType_Id"].Equals("2"))
                                    {
                                        <td><button type="submit" class="btn btn-warning" disabled>Request for pm only</button></td>
                                    }
                                    else
                                    {
                                        <td>  @Html.ActionLink("Requset", "RequsetProject", "Projects", new { id = item.ID }, new { @class = "btn btn-warning" }) </td>

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


</div>