@*    @model IEnumerable<pm_retal.Models.UserAccount>   *@
@model pm_retal.ViewModels.ProfileSkillsViewModel


@{
    /**/

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    List<SelectListItem> l1 = new List<SelectListItem>();
    if ((Session["UserType_Id"].Equals("3")))
    {
        foreach (var item in Model.aSTPMs)
        {
            l1.Add(new SelectListItem() { Text = item.PM_Account.FullName, Value = Convert.ToString(item.PM_ID) });
        }
    }
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Profile</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Report <small>Activity report</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="~/Image/@Session["ImgPath"]" alt="Avatar" title="Change the avatar">
                                </div>
                            </div>
                            <h3>@Session["FullName"].ToString()</h3>

                            <ul class="list-unstyled user_data">

                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> @Session["JobDescription"].ToString()
                                </li>

                                <li class="m-top-xs">
                                    <i class="fa fa-phone"></i>
                                    @Session["PhoneNumber"].ToString()
                                </li>
                            </ul>

                            <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                            @if (Session["UserType_Id"].Equals("1"))
                            {
                                <a class="btn btn-success" href="@Url.Action("AddUser","Home")"><i class="fa fa-edit m-right-xs"></i>Add Users</a>


                            }
                            <br />
                            <div id="addskill" class="animate form registration_form">
                                <section class="skill_content"></section>
                            </div>
                            @using (Html.BeginForm("AddSkill", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                if (ViewBag.Message != null)
                                {
                                    <div class="form-group">
                                        <div class="col-md-10">@ViewBag.Message</div>
                                    </div>
                                }
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.skillT.skillName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <input class="form-control text-box single-line" id="skillName" name="skillName" type="text" value="">
                                        @Html.ValidationMessageFor(Model => Model.skillT.skillName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(Model => Model.skillT.value, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <input class="form-control text-box single-line" id="value" name="value" type="text" value="">
                                        @Html.ValidationMessageFor(Model => Model.skillT.value, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Add Skills" class="btn btn-success" />

                                    </div>
                                </div>
                            }
                            <br />
                            <!-- start skills -->
                            <h4>Skills</h4>
                            <ul class="list-unstyled user_data">

                                @foreach (var item in Model.Skills)
                                {
                                    if (item.Suser_id == Convert.ToInt32(Session["UserID"]))
                                    {
                                        <li>
                                            <p>@Html.DisplayFor(modelItem => item.skillName)</p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@Html.DisplayFor(modelItem => item.value)"></div>
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                            <!-- end of skills -->

                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">

                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>User Activity Report</h2>
                                </div>
                                <div class="col-md-6">
                                    <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>
                                </div>
                            </div>
                            <!-- start of user-activity-graph -->
                            <div id="graph_bar" style="width:100%; height:280px;"></div>
                            <!-- end of user-activity-graph -->

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                                    @if (Session["UserType_Id"].Equals("3"))
                                    {
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Working projects</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Finshed projects</a>
                                        </li>}
                                    @if (Session["UserType_Id"].Equals("2"))
                                    {
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Working projects</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Finshed projects</a>
                                        </li>}


                                    @if (Session["UserType_Id"].Equals("1"))
                                    {
                                        <li role="presentation" class="">
                                            <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                        </li>

                                        <li role="presentation" class="">
                                            <a href="#tab_content4" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">pended posts</a>
                                        </li>
                                    }
                                    @if (Session["UserType_Id"].Equals("3"))
                                    {
                                        <li role="presentation" class="">
                                            <a href="#tab_content4" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">approved projcts</a>
                                        </li>


                                    }
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        @if (Session["UserType_Id"].Equals("3"))
                                        {
                                            <table class="data table table-striped no-margin">
                                                <thead>

                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project Name</th>
                                                        <th>project Description</th>
                                                        <th>Project Manager</th>
                                                        <th>Contribution</th>
                                                        <ht>Module</ht>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.CuProjects)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Description)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.PAccount.FullName)</td>
                                                            <td class="vertical-align-mid">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                                                </div>
                                                            </td>
                                                            <td> @Html.ActionLink("View Moudule", "#", "Home", new { id = item.ID }, new { @class = "btn btn-success" }) </td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>

                                        }
                                        @if (Session["UserType_Id"].Equals("2"))
                                        {
                                            <table class="data table table-striped no-margin">
                                                <thead>

                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project Name</th>
                                                        <th>project Description</th>
                                                        <th>Customer Name</th>
                                                        <th>Contribution</th>
                                                        <ht>Module</ht>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.PmProjects)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Description)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.CAccount.FullName)</td>
                                                            <td class="vertical-align-mid">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                                                </div>
                                                            </td>
                                                            <td> @Html.ActionLink("Create Moudule", "#", "Home", new { id = item.ID }, new { @class = "btn btn-success" }) </td>
                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>

                                        }
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                        <!-- start user projects -->
                                        <table class="data table table-striped no-margin">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Project Name</th>
                                                    <th>Client Company</th>
                                                    <th class="hidden-phone">Hours Spent</th>
                                                    <th>Contribution</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>New Company Takeover Review</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">18</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>New Partner Contracts Consultanci</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">13</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-danger" data-transitiongoal="15"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Partners and Inverstors report</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">30</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>New Company Takeover Review</td>
                                                    <td>Deveint Inc</td>
                                                    <td class="hidden-phone">28</td>
                                                    <td class="vertical-align-mid">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- end user projects -->

                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Project Manager</a>
                                            </li>

                                            <li role="presentation" class="">
                                                <a href="#tab2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Team Leaders</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Junior Engineer</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab4" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Customers</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab1" aria-labelledby="home-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                        <tr>
                                                            <th width="25px">#</th>
                                                            <th width="25px">FullName</th>
                                                            <th width="25px">JobDescription</th>
                                                            <th width="25px">Remove User</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.UserAccount)
                                                        {
                                                            if (item.UserType_Id == 2)
                                                            {
                                                                <tr>

                                                                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.FullName)‏</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.JobDescription)</td>
                                                                    <td>  @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = item.UserID }, new { @class = "btn btn-success" }) </td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab2" aria-labelledby="profile-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                        <tr>
                                                            <th width="25px">#</th>
                                                            <th width="25px">FullName</th>
                                                            <th width="25px">JobDescription</th>
                                                            <th width="25px">Remove User</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.UserAccount)
                                                        {
                                                            if (item.UserType_Id == 4)
                                                            {
                                                                <tr>

                                                                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.FullName)‏</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.JobDescription)</td>
                                                                    <td>  @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = item.UserID }, new { @class = "btn btn-success" }) </td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab3" aria-labelledby="profile-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                        <tr>
                                                            <th width="25px">#</th>
                                                            <th width="25px">FullName</th>
                                                            <th width="25px">JobDescription</th>
                                                            <th width="25px">Remove User</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.UserAccount)
                                                        {
                                                            if (item.UserType_Id == 5)
                                                            {
                                                                <tr>

                                                                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.FullName)‏</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.JobDescription)</td>
                                                                    <td>  @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = item.UserID }, new { @class = "btn btn-success" }) </td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab4" aria-labelledby="profile-tab">
                                                <table class="data table table-striped no-margin">
                                                    <thead>
                                                        <tr>
                                                            <th width="25px">#</th>
                                                            <th width="25px">FullName</th>
                                                            <th width="25px">JobDescription</th>
                                                            <th width="25px">Remove User</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.UserAccount)
                                                        {
                                                            if (item.UserType_Id == 3)
                                                            {
                                                                <tr>

                                                                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.FullName)‏</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.JobDescription)</td>
                                                                    <td>  @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = item.UserID }, new { @class = "btn btn-success" }) </td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content4">

                                        <!-- start recent activity -->
                                        <table class="data table table-striped no-margin">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Customer Name</th>
                                                    <th>Project Name</th>
                                                    <th>Project Descrption</th>
                                                    @if ((Session["UserType_Id"].Equals("3")))
                                                    {
                                                        <th>Select project manager</th>
                                                    }
                                                    <th>Approve</th>
                                                    <th>delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if ((Session["UserType_Id"].Equals("1")))
                                                {
                                                    foreach (var item in Model.projects)
                                                    {

                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.CAccount.FullName)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Description)</td>
                                                            <td>  @Html.ActionLink("Approve", "Approveproject", "Projects", new { id = item.ID }, new { @class = "btn btn-warning" }) </td>
                                                            <td>  @Html.ActionLink("Delete", "DeletePost", "Projects", new { id = item.ID }, new { @class = "btn btn-danger" }) </td>
                                                        </tr>
                                                    }}
                                                 @if ((Session["UserType_Id"].Equals("3")))
                                                {
                                                    foreach (var item in Model.projects)
                                                    {

                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.CAccount.FullName)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.post_Description)</td>
                                                            @using (Html.BeginForm("AddPmToProject", "Projects", FormMethod.Post))
                                                            {
                                                                <td> @Html.DropDownList("PM_ID", l1, "Select pm") </td>
                                                                <td><input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)" /></td>
                                                                <td><button type="submit" class="btn btn-warning">Select</button></td>
                                                            }
                                                            <td>  @Html.ActionLink("Delete", "DeletePost", "Projects", new { id = item.ID }, new { @class = "btn btn-danger" }) </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            
                                        </table>
                                        <!-- end recent activity -->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
